.btn {
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #146c43;
    --bs-btn-hover-bg: #146c43; 
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-active-bg: #0c3734; 
}

.navbar-brand img {
    width: 50px;
}

/* Tamanho do Carrosel */

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(31,31,31));
    position: absolute;
}